body{
    background-color: rgb(194, 242, 248);
}
h1{
    text-align: center;
    color: rgb(35, 147, 211);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
input{
    height: 30px;
    border-radius: 3px;
}
button{
    background-color: rgb(158, 244, 255);
    height: 37px;
    border-radius: 3px;
}
input:hover, button:hover{
    opacity: 0.5;
}
.todolist{
    margin-top: 5%;
    margin-left: 10%;
}
.todolist > div{
    font-size: 35px;
    color: rgb(11, 108, 165);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.done{
    position: absolute;
    right: 10%;
}