.container {
    background-color: rgb(238, 129, 56);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    width:fit-content;
    margin: auto;
}
.box{
    background-color: rgb(179, 82, 17);
    width: 100px;
    height: 80px;
    margin: 10px;
}
.boxclicked {
    background-color: rgb(110, 49, 8);
}
.box:hover{
    opacity: 0.8;
}
body{
    background-color: rgb(221, 179, 152);
}
.count{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}
#booked, #remaining{
    font-size: 60px;
}